---
import Button from "../../Button/Button.astro";
import { MAIN_PHONE_NUMBER } from "../../../constants/contact-constants";
import approved from "../../../assets/approved.png";
import Image from "astro/components/Image.astro";
import { getImage } from "astro:assets";

const img = await getImage({
  src: approved,
  width: 500,
  height: 300,
  format: "webp",
  quality: 80,
});
---

<Fragment slot="head">
  <link rel="preload" href={img.src} as="image" />
</Fragment>

<div class="content-container">
  <div class="text-content-container">
    <h1 class="title">
      We have a solution for all your sprinkler repair needs
    </h1>
    <p class="text">
      Serving the North Fort Worth area, A-1 Sprinkler Repair brings over 25
      years of hands-on experience in residential irrigation. We specialize in
      leaks, valve replacement, broken sprinklers, tune-ups, and wire
      troubleshooting. As licensed irrigators, we’re committed to quality work,
      honest service, and getting the job done right the first time. We enjoy
      solving tough problems and keeping your lawn looking its best.
    </p>
    <p class="text">
      Contact us today to schedule an appointment and let us help you maintain a
      beautiful lawn and landscape!
    </p>
    <Button
      color="primary"
      size="xlarge"
      onclick={`window.location.href='tel:${MAIN_PHONE_NUMBER}';`}
    >
      Contact Us
    </Button>
  </div>
  <div class="approved-container">
    <Image
      src={img.src}
      alt="Home Advisor Approved"
      width={img.attributes.width}
      height={img.attributes.height}
    />
  </div>
</div>

<style>
  .content-container {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 8rem;
    background-color: var(--color-lighter-neutral);

    @media (max-width: 1024px) {
      flex-direction: column;
      padding: 1.5rem;
      gap: 2rem;
      align-items: center;
      padding-top: 1rem;
    }

    .text-content-container {
      flex: 1;
      max-width: 1000px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-left: 1rem;
      justify-content: center;

      @media (max-width: 1024px) {
        padding-left: 0;
        gap: 1.5rem;

        button {
          align-self: center;
        }
      }

      .title {
        font-size: 2.5rem;

        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }

      .text {
        font-size: 1.2rem;
        line-height: 1.5;

        @media (max-width: 768px) {
          font-size: 1.1rem;
        }
      }
    }

    .approved-container {
      width: 40%;
      max-width: 500px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 1024px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: contain;

        @media (max-width: 768px) {
          max-width: 350px;
          min-width: 250px;
        }
      }
    }
  }
</style>
